<div class="grid grid-cols-12 gap-8">
  <div class="col-span-12 md:col-span-8">
    @if (teamsResource.value()) {
      @for (team of teamsResource.value(); track team.name) {
        <div class="mb-4">
          <app-team-list-entry [team]="team"></app-team-list-entry>
        </div>
      }
      <div class="md:invisible flex justify-end">
        <button matFab (click)="openCreateTeamDialog()"><mat-icon>add</mat-icon></button>
      </div>
    } @else if (teamsResource.isLoading()) {
      loading
    } @else if (teamsResource.error()) {
      error
    }
  </div>
  <div class="invisible md:visible col-span-4">
    <app-add-team (onFormSubmit)="handleTeamCreate($event)"></app-add-team>
  </div>
</div>
