@use '@angular/material' as mat;
@use '../_theme-colors' as jaglions;

html {
  height: 100%;

  color-scheme: light;

  @include mat.theme(
    (
      color: (
        primary: jaglions.$primary-palette,
        tertiary: jaglions.$tertiary-palette,
        theme-type: light,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  @include mat.system-classes();
}

body {
  margin: 0;
  height: 100%;

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}
