/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme inline {
  --color-primary: var(--mat-sys-primary);
  --color-primary-container: var(--mat-sys-primary-container);
  --color-on-primary: var(--mat-sys-on-primary);
  --color-on-primary-container: var(--mat-sys-on-primary-container);

  --color-secondary: var(--mat-sys-secondary);
  --color-on-secondary: var(--mat-sys-on-secondary);

  --color-tertiary: var(--mat-sys-tertiary);
  --color-on-tertiary: var(--mat-sys-on-tertiary);

  --color-surface: var(--mat-sys-surface);
  --color-surface-container: var(--mat-sys-surface-container);
  --color-on-surface: var(--mat-sys-on-surface);
  --color-on-surface-variant: var(--mat-sys-on-surface-variant);

  --color-outline: var(--mat-sys-outline);
  --color-outline-variant: var(--mat-sys-outline-variant);
}
